section video{
    box-shadow: 3px 3px 5x #FFAA88;
}

.noVideo{
    color: red;
}

section form{
    border: 1px solid #887;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow:10px 10px 5px #887 ;
    box-shadow: 10px 10px 5px #887;
    background-color: #eed;
    padding: 10px;
    margin-bottom: 25 px;
}

section label{
    font-weight: bold;
    font-size: 12px;
}

srction input{
    margin-bottom: 3px;
    font-size: 12px;
}